<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroDbRealm" />
	</bean>

	<bean id="shiroDbRealm" class="com.xwq.shiro.ShiroDbRealm">
		<property name="credentialsMatcher">
			 <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
	               <property name="hashAlgorithmName" value="MD5"/>
	               <property name="storedCredentialsHexEncoded" value="true"/>
	         </bean>
		</property>
	</bean>
	
	<bean id="roleOrFilter" class="com.xwq.shiro.CustomRolesAuthorizationFilter"></bean>
	
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean" depends-on="roleOrFilter">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login" />
		<property name="successUrl" value="/index" />
		<property name="unauthorizedUrl" value="/permDedy"/>
		<property name="filters">  
            <map>  
                <entry key="anyRoles" value-ref="roleOrFilter"/>
            </map>
        </property>  
		<property name="filterChainDefinitions">
			<value>
				/resources/** = anon
				
				/viewEmpInfo = authc,anyRoles[administrator,employee,hr]
				/empSearch = authc,anyRoles[administrator,employee,hr]
				/modifyPwd = authc,anyRoles[administrator,employee,hr]
				/jiabanApply = authc,anyRoles[administrator,employee,hr]
				/qingjiaApply = authc,anyRoles[administrator,employee,hr]
				/viewKaoqinList = authc,anyRoles[administrator,employee,hr]
				/viewSalaryList = authc,anyRoles[administrator,employee,hr]
				/yjReport = authc,anyRoles[administrator,employee,hr]
				
				/userMgr = authc,anyRoles[administrator,hr]
				/menuMgr = authc,roles[administrator]
				/roleMgr = authc,roles[administrator]
				/authMgr = authc,roles[administrator]
				/syslog = authc,roles[administrator]
				/dataBackupRestore = authc,roles[administrator]
				
				/deptMgr = authc,anyRoles[administrator,hr]
				/empMgr = authc,anyRoles[administrator,hr]
				/kaoqinMgr = authc,anyRoles[administrator,hr]
				/salaryMgr = authc,anyRoles[administrator,hr]
				
				/jiabanApproval = authc,perms[jiaban:approval]
				/qingjiaApproval = authc,perms[qingjia:approval]
				/yjReportAudit = authc,perms[yjReport:audit]
			</value>
		</property>
	</bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>     
        
</beans>        