<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.xwq" />
    
    <aop:aspectj-autoproxy/>  <!-- 注意：使用了springmvc后, 如果还要使用@Aspect编程则需要把aop配置放到springmvc配置文件中才能生效 -->
    
    <mvc:resources location="/resources/" mapping="/resources/**"/>
    
    <!-- 定义视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	    <property name="prefix" value="/WEB-INF/jsp/"/>
	    <property name="suffix" value=".jsp"/>
    </bean>
    
    <!-- 异常处理 -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
	   <!--  <property name="defaultErrorView" value="error"></property>   -->
	    <property name="exceptionAttribute" value="ex"></property>  
	    <property name="exceptionMappings">  
	        <props>  
	            <prop key="com.xwq.exception.PermissionDeniedException">permission_deny</prop>  
	        </props>  
	    </property>  
	</bean>
    
    <!-- 拦截器 -->
    <mvc:interceptors>
    	<mvc:interceptor>
    		<mvc:mapping path="/**"/>
    		<mvc:exclude-mapping path="/login"/>
    		<mvc:exclude-mapping path="/resources/**"/>
    		<bean class="com.xwq.interceptor.LoginInterceptor"/>
    	</mvc:interceptor>
    	
    	<mvc:interceptor>
    		<mvc:mapping path="/authMgr"/>
    		<mvc:mapping path="/userMgr"/>
    		<mvc:mapping path="/jiabanApply"/>
    		<mvc:mapping path="/qingjiaApply"/>
    		<mvc:mapping path="/viewKaoqinList"/>
    		<mvc:mapping path="/yjReport"/>
    		<mvc:mapping path="/empMgr"/>
    		<mvc:mapping path="/deptMgr"/>
    		<mvc:mapping path="/roleMgr"/>
    		<mvc:mapping path="/syslog"/>
    		<mvc:mapping path="/viewSalaryList"/>
    		<mvc:mapping path="/jiabanApproval"/>
    		<mvc:mapping path="/qingjiaApproval"/>
    		<mvc:mapping path="/yjReportAudit"/>
    		<mvc:mapping path="/kaoqinMgr"/>
    		<mvc:mapping path="/salaryMgr"/>
    		<mvc:mapping path="/dataBackupRestore"/>
    		
    		<bean class="com.xwq.interceptor.PaginationInterceptor">
    			<property name="pageSize" value="15"/>
    		</bean>
    	</mvc:interceptor>
    	
    	<mvc:interceptor>
    		<mvc:mapping path="/**"/>
    		<mvc:exclude-mapping path="/login"/>
    		<mvc:exclude-mapping path="/logout"/>
    		<mvc:exclude-mapping path="/index"/>
    		<mvc:exclude-mapping path="/resources/**"/>
    		<bean class="com.xwq.interceptor.AccessAuthorityInterceptor"/>
    	</mvc:interceptor>
    	
    	<mvc:interceptor>
    		<mvc:mapping path="/**"/>
    		<mvc:exclude-mapping path="/resources/**"/>
    		<bean class="com.xwq.interceptor.LogInterceptor"/>
    	</mvc:interceptor>
    </mvc:interceptors>
    
</beans>